<template>
    <div>
        <v-app-bar
            color="deep-purple accent-4"
            dense
            dark
        >
        <v-toolbar-title>SIAKAD</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn style="margin-right:25px" @click="logout">
          <v-icon>mdi-account</v-icon> Keluar
        </v-btn>
      </v-app-bar>
    </div>
</template>

<script>
  export default{
    created(){
      if(process.browser){
        if(!localStorage.getItem('token')){
          this.$router.push('/login')
        }
      }
    },

    methods:{
      logout(){
        localStorage.clear()
        this.$router.push('/login')
      }
    }
  }
</script>