<template>
    
    <v-card height="100vh">
        <v-navigation-drawer
          absolute
          permanent
          left
        >
          <template v-slot:prepend>
            <v-list-item two-line>
              <v-list-item-avatar>
                <img src="https://randomuser.me/api/portraits/women/81.jpg">
              </v-list-item-avatar>
    
              <v-list-item-content style="margin-left: 10px;">
                <v-list-item-title>Fachrul Rozi</v-list-item-title>
                <v-list-item-subtitle>Keluar</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
    
          <v-divider></v-divider>
    
          <v-list dense>
            <v-list-item
              v-for="item in items"
              :key="item.title"
              @click="toPage(item.link)"
            >
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
    
              <v-list-item-content style="margin-left: 10px;">
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-card>  
</template>

<script>
    export default {
      data () {
        return {
          items: [
            { title: 'User', icon: 'mdi-account', link: '/user' },
            { title: 'PMB', icon: 'mdi-account-group-outline', link: '/pmb' },
            { title: 'Mahasiswa', icon: 'mdi-school', link: '/mahasiswa' },
            { title: 'Mata Kuliah', icon: 'mdi-book', link: '/matakuliah' },
          ],
        }
      },

      methods:{
        toPage(link){
          this.$router.push(link)
        }
      }
    }
  </script>