<template>
    <div>
        <v-container style="margin-top:15vh">
            <v-row>
                <v-col md="12">
                    <h1 style="text-align: center;">SIAKAD</h1>
                </v-col>
            </v-row>

            <v-row>
                <v-col md="4"></v-col>
                <v-col md="4">
                    <v-card elevation="2">
                        <v-card-title>
                            <span class="text-h4">Login</span>
                        </v-card-title>
                        <hr />

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field v-model="form.username" label="Username"></v-text-field>

                                        <v-text-field type="password" v-model="form.password" label="Password">
                                        </v-text-field>
                                        <v-btn depressed color="primary" style="background: teal;" @click="login">Login
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-col md="12">
                    <p style="text-align: center;">Sistem Informasi dan Akademik</p>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                form: {
                    username: '',
                    password: ''
                }
            }
        },

        methods: {
            login() {
                axios
                    // .post(`https://localhost:5001/auth/api/auth`, {
                    .post(`https://localhost:5031/api/auth`, this.form)
                    .then(res => {
                        localStorage.setItem('token', res.data)
                        this.$router.push('/')
                    })
                    .catch(()=>{
                        alert('Username atau password salah')
                    })
            }
        }
    }
</script>