<template>
    <div>
        <Navbar />
        <v-container-fluid>
            <v-row>
                <v-col md="2">
                    <Sidebar />
                </v-col>
                <v-col md="10">
                    <v-container>
                        <v-data-table :headers="headers" :items="subjects" class="elevation-1" data-app>
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-toolbar-title>Data Mata Kuliah</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-dialog v-model="dialog" max-width="500px">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                                                Tambah
                                            </v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-title>
                                                <span class="text-h5">{{ formTitle }}</span>
                                            </v-card-title>

                                            <v-card-text>
                                                <v-container>
                                                    <v-row>
                                                        <v-col cols="12">
                                                            <v-text-field v-model="formEdit.name" label="Nama">
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>

                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="blue darken-1" text @click="close">
                                                    Batal
                                                </v-btn>
                                                <v-btn color="blue darken-1" text @click="save">
                                                    Simpan
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                    <v-dialog v-model="dialogDelete" max-width="500px">
                                        <v-card>
                                            <v-card-title class="text-h5">Apakah Anda yakin ingin menghapus ini?
                                            </v-card-title>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="blue darken-1" text @click="closeDelete">Batal</v-btn>
                                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">Iya</v-btn>
                                                <v-spacer></v-spacer>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon small class="mr-2" @click="editItem(item)">
                                    mdi-pencil
                                </v-icon>
                                <v-icon small @click="deleteItem(item)">
                                    mdi-delete
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-col>
            </v-row>
        </v-container-fluid>
    </div>
</template>

<script>
    import Navbar from "@/components/Navbar"
    import Sidebar from "@/components/Sidebar"

    import axios from 'axios'

    export default {
        components: { Navbar, Sidebar },
        data: () => ({
            dialog: false,
            dialogDelete: false,
            headers: [
                {
                    text: 'No.',
                    align: 'start',
                    sortable: false,
                    value: 'index',
                },
                {
                    text: 'Nama',
                    align: 'start',
                    sortable: false,
                    value: 'name',
                },
                { text: 'Aksi', value: 'actions', sortable: false },
            ],
            subjects: [],
            editedIndex: -1,
            formEdit: {
                subjectname: '',
            },
            defaultItem: {
                subjectname: '',
            },
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Tambah' : 'Ubah'
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            dialogDelete(val) {
                val || this.closeDelete()
            },
        },

        created() {
            axios
                .get(`https://localhost:5001/data-master/api/subject`)
                .then(res => {
                    let subjects = []
                    res.data.map((item, index) => {
                        item.index = index+1
                        subjects.push(item)
                    })
                    this.subjects = subjects
                })
        },

        methods: {
            editItem(item) {
                this.editedIndex = this.subjects.indexOf(item)
                this.formEdit = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                this.editedIndex = this.subjects.indexOf(item)
                this.formEdit = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm() {
                this.subjects.splice(this.editedIndex, 1)
                this.closeDelete()
            },

            close() {
                this.dialog = false
                this.$nextTick(() => {
                    this.formEdit = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },

            closeDelete() {
                this.dialogDelete = false
                this.$nextTick(() => {
                    this.formEdit = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },

            save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.subjects[this.editedIndex], this.formEdit)
                } else {
                    this.subjects.push(this.formEdit)
                }
                this.close()
            },
        },
    }
</script>