<template>
    <div>
        <Navbar />
        <v-container-fluid>
            <v-row>
                <v-col md="2">
                    <Sidebar />
                </v-col>
                <v-col md="10">
                    <v-container>
                        <v-data-table :headers="headers" :items="users" class="elevation-1" data-app>
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-toolbar-title>Data Pengguna</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-dialog v-model="dialog" max-width="500px">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                                                Tambah
                                            </v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-title>
                                                <span class="text-h5">{{ formTitle }}</span>
                                            </v-card-title>

                                            <v-card-text>
                                                <v-container>
                                                    <v-row>
                                                        <v-col cols="12">
                                                            <v-text-field v-model="form.username" label="Nama">
                                                            </v-text-field>
                                                            <v-text-field type="password" v-model="form.password"
                                                                label="Password">
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>

                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="blue darken-1" text @click="close">
                                                    Batal
                                                </v-btn>
                                                <v-btn color="blue darken-1" text @click="save">
                                                    Simpan
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                    <v-dialog v-model="dialogDelete" max-width="500px">
                                        <v-card>
                                            <v-card-title class="text-h5">Apakah Anda yakin ingin menghapus ini?
                                            </v-card-title>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="blue darken-1" text @click="closeDelete">Batal</v-btn>
                                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">Iya</v-btn>
                                                <v-spacer></v-spacer>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon small class="mr-2" @click="editItem(item)">
                                    mdi-pencil
                                </v-icon>
                                <v-icon small @click="deleteItem(item)">
                                    mdi-delete
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-col>
            </v-row>
        </v-container-fluid>
    </div>
</template>

<script>
    import Navbar from "@/components/Navbar"
    import Sidebar from "@/components/Sidebar"

    import axios from 'axios'

    export default {
        components: { Navbar, Sidebar },
        data: () => ({
            dialog: false,
            dialogDelete: false,
            headers: [
                {
                    text: 'No.',
                    align: 'start',
                    sortable: false,
                    value: 'index',
                },
                {
                    text: 'Username',
                    align: 'start',
                    sortable: false,
                    value: 'username',
                },
                { text: 'Aksi', value: 'actions', sortable: false },
            ],
            users: [],
            editedIndex: -1,
            form: {
                username: '',
                password: '',
            },
            defaultItem: {
                username: '',
                password: '',
            },
            itemNow: {}
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Tambah' : 'Ubah'
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            dialogDelete(val) {
                val || this.closeDelete()
            },
        },

        created() {
            if (process.browser) {
                axios
                    .get(`https://localhost:5031/api/user`, {
                        headers: {
                            Authorization: localStorage.getItem('token')
                        }
                    })
                    .then(res => {
                        let users = []
                        res.data.map((item, index) => {
                            item.index = index + 1
                            users.push(item)
                        })
                        this.users = users
                    })
            }
        },

        methods: {
            editItem(item) {
                this.editedIndex = this.users.indexOf(item)
                this.itemNow = item
                this.form = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                this.editedIndex = this.users.indexOf(item)
                this.itemNow = item
                this.form = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm() {
                axios
                    .delete(`https://localhost:5031/api/registrant?id=${this.itemNow.id}`)
                    .then(() => {
                        alert('Berhasil dihapus')
                        this.users.splice(this.editedIndex, 1)
                        this.closeDelete()
                    })
                    .catch(() => {
                        alert('Gagal dihapus')
                    })
            },

            close() {
                this.dialog = false
                this.$nextTick(() => {
                    this.form = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },

            closeDelete() {
                this.dialogDelete = false
                this.$nextTick(() => {
                    this.form = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },

            save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.users[this.editedIndex], this.form)

                    axios
                        .put(`https://localhost:5031/api/user?id=${this.itemNow.id}`, this.form, {
                            headers: {
                                authorization: localStorage.getItem('token')
                            }
                        })
                        .then(res => {
                            alert('Data berhasil diubah')
                        })
                } else {
                    this.users.push(this.form)
                    axios
                        // .post(`https://localhost:5001/auth/api/user`,{
                        .post(`https://localhost:5031/api/user`, this.form, {
                            headers: {
                                authorization: localStorage.getItem('token')
                            }
                        })
                        .then(res => {
                            alert('Data berhasil disimpan')
                        })
                }
                this.close()
            },
        },
    }
</script>