<template>
    <div>
        <Navbar />
        <input v-model="form.nama" />
        {{form.nama}}
        <p v-for="index in datas" v-on:click="clickKu(index)">ini mahasiswa {{index}} </p>
        <NuxtLink to="/">Index</NuxtLink>
        <br/>
        <input v-model="alamat" placeholder="alamat" /><br/>
        <input v-model="alamut" placeholder="alamut" /><br/>
    </div>
</template>

<script>
    import axios from 'axios';

    import Navbar from "@/components/Navbar"
    export default{
        components: {
            Navbar
        },
        data(){
            return{
                datas: [1,2,3],
                form: {
                    nama : 'd'
                },
                alamat: 'aa',
                alamut: 'bb',
            }
        },

        computed:{
            changeAlam(){
                return [this.alamat, this.alamut]
            }
        },

        watch:{
            changeAlam: (a) => {
                console.log(a)
            }
        },

        methods:{
            clickKu(x){
            axios
                .get(`//localhost/contoh.php`)
                .then(res=>{
                    console.log(res.data)
                })
            }
        }
    }
</script>